/*  your css code here. If applicable */
html{
	background-color:skyblue;
}
.first-para{
	background-color:black;
	color:white;
}
li{
	width:50%;
}
.para{
	color:red;
}
.first,.fifth{
	background-color:white;
}
.second,.fourth{
	background-color:gray;
}
.third{
	background-color:pink;
}
